.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
  /* Adjust as needed */
}

.dropdown-toggle {
  padding: 8px 12px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.arrow {
  margin-left: 8px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.search-input {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.clear-icon {
  cursor: pointer;
  padding-left: 5px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

li:hover {
  background-color: #f0f0f0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-top: 1px solid #ccc;
}

button {
  padding: 4px 8px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  outline: none;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

span {
  display: inline-block;
  margin: 0 10px;
}