<div [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <table>
    <tr>
      <td> <app-custom-dropdown formControlName="name" [serverSidePagination]="true" apiEndpoint="apiEndpoint" [options]="dropdownOptions1" [pageSize]="2"
          (selectedOption)="onOptionSelected($event)" placeholder="Select an option"></app-custom-dropdown></td>
      <td>
        <app-custom-dropdown formControlName="email" [options]="dropdownOptions"
          (selectedOption)="onOptionSelected1($event)" placeholder="Select an option"></app-custom-dropdown>
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit" (click)="onSubmit(myForm)">Send</button>
      </td>
    </tr>
  </table>



</div>